:root{
    --primary-color-1: hsl(225, 100%, 94%);
    --primary-color-2: hsl(245, 75%, 52%);
    --pragraph-color: hsl(224, 23%, 55%);
    --header-color: hsl(223, 47%, 23%)
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-color: #e0e8ff;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 450px;
    height: fit-content;
    border-radius: 20px;
}

.img{
    width: 100%;
    height: 222px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content{
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 45px 35px;
}

.title{
    text-align: center;
    color: var(--header-color);
    font-weight: 900;
}

.description{
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    width: 80%;
    margin: 20px auto;
    color: var(--pragraph-color);
}

.box{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-info{
    margin-left: 20px;
}

.order-name{
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 3px;
    color: var(--header-color);
}

.order-price{
    color: var(--pragraph-color);
    font-size: 16px;
    font-weight: 500;
}

.right{
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color-2);
    text-decoration: underline;
    text-decoration-color: var(--header-color);
    cursor: pointer;
    transition: .3s;
}

.payment{
    width: 100%;
    background-color: var(--primary-color-2);
    color: #fff;
    padding: 12px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid hsl(223, 47%, 23%);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 20px 10px 0px hsl(225, 100%, 98%);
    transition: 0.3s;
}

.payment:hover,
.right:hover{
    opacity: .8;
    text-decoration: none;
    border-color: var(--primary-color-2);
}

.cancel{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--pragraph-color);
    cursor: pointer;
    transition: .3s;
    width: fit-content;
    margin: 30px auto 0;
}

.cancel:hover{
    color: var(--header-color);
}

/* Mobile */
@media (max-width:480px) {
    body{
        padding: 20px;
    }

    .container{
        width: 100%;
    }

    .content{
        padding: 30px 20px;
    }

    .description{
        width: 100%;
    }
    
    .img{
        height: 160px;
    }
}


